:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --outer-background: #010C15;
  --background: #011627;
  --foreground: #1E2D3D;
  --border: #1E2D3D;
  --comment-color: #607B96;

  --white-color: #ffffff;

  --links-size: 1rem;
  --text-default-weight: 400;

  --token-color: #4D5BCE;
  --key-color: #43D9AD;
  --code-color: #E99287;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}