.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100dvh - 4rem);

  background-color: var(--background);
  border-radius: 0.5rem;
  border: 1px solid var(--border);
}

.content {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.canvas {
  padding: 2rem;
  background-color: var(--outer-background);
}