.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(100dvh - 4rem);

  background-color: var(--background);
  border-radius: 0.5rem;
  border: 1px solid var(--border);
}

.content {
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.canvas {
  padding: 2rem;
  background-color: var(--outer-background);
}

.welcome {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding-inline: 9rem;
}

.welcome h1 {
  font-size: 4.5rem;
  font-weight: 400;
  color: var(--comment-color);
}

.welcome h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--comment-color);
}

.welcome h3 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--token-color);
  margin-bottom: 3rem;
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  line-height: 1;
}

.welcome p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--comment-color);
  line-height: 1.8;
}

.token {
  color: var(--token-color);
}

.key {
  color: var(--key-color);
}

.code {
  color: var(--code-color);
}